@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    content: "";
    position: absolute;
    object-fit: cover;
    object-position: top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../assets/img/default-background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/img/default-background.jpg");
}

.weather {
    color: white;
    height: 600px;
    width: 98%;
    background-color: #555555;
    opacity: 0.87;
    box-shadow: 0 0 50px #ccc;
    text-align: center;
}

.weather__header {
    text-align: center;
    margin-top: 10px;
}

#searchTxt {
    margin-top: 10px;
    height: 30px;
    text-align: center;
}

#searchBtn {
    background-color: whitesmoke;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 5px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#cities {
    display: block;
    margin: 10px auto;
    height: 30px;
    width: 150px;
}

.weather__body {
    padding: 5px 10px;
    background-color: #333333;
    border-radius: 10px;
    font-size: 1.2em;
    margin: 10px auto;
    width: 90%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "titles" "info" "temperatures" "buttons";
    justify-items: center;
    align-items: start;
}

.weather__titles {
    grid-area: titles;
    text-align: center;
    align-self: start;
}

.weather__info {
    grid-area: info;
    text-align: center;
}

.weather__temperatures {
    font-size: 1.1rem;
    grid-area: temperatures;
}

.weather__buttons {
    grid-area: buttons;
}

.weather__buttons button {
    height: 25px;
    width: 30px;
    color: white;
    font-size: 1.2rem;
    margin: 0 10px;
    background-color: #3385ff;
    border: 2px solid #3385ff;
    border-radius: 10px;
}

@media (min-width: 800px) {
    .weather {
        color: white;
        min-height: 700px;
        width: 800px;
        background-color: #555555;
        opacity: 0.87;
        box-shadow: 0 0 50px #ccc;
        text-align: center;
    }
    .weather__body {
        padding: 20px;
        background-color: #333333;
        border-radius: 10px;
        font-size: 1.2em;
        margin: 40px auto;
        min-height: 400px;
        width: 80%;
        display: grid;
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: "titles titles" "info temperatures" "buttons buttons";
        row-gap: 25px;
        justify-items: center;
        align-items: center;
    }
    .weather__buttons button {
        height: 30px;
        width: 40px;
        color: white;
        font-size: 1.2rem;
        margin: 0 10px;
        background-color: #3385ff;
        border: 2px solid #3385ff;
        border-radius: 10px;
    }
}